#wpadminbar #wp-admin-bar-translate .ab-icon {
    top: 3px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */